# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Jupyter
.ipynb_checkpoints
analysis.html

# Data - IGNORE ALL DATA
data/
*.csv
*.parquet
*.json
!config/settings.json
!config/video_info.json

# Auth
cookies.txt

# Project specific
uv.lock
